
.header {
    background: #2f6978;
    color: #fff;
    margin: 0;
    padding: .3rem 0;
}
.header h3 {
    font-size: 1.4rem;
}
.h-menu.mega {
    position: relative;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}
.h-menu.mega li  {
    float: none;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 7px;
    padding: 5px 20px;
}
.h-menu.mega li a {
    font-size: 1.3rem;
    color: #696969;
    padding: 0;
}
.h-menu > li:hover,
.h-menu > li.active {
    background-color: #2f6978;
}
.h-menu > li:hover {
    opacity: .8;
}
.h-menu > li:hover a,
.h-menu > li.active a {
    color: #fff;
}

.tabs-material {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    margin-left: 210px;
}
.tabs-material li {
    opacity: 1;
    color: #888;
}
.tabs-material li.active {
    opacity: 1;
    color: #2f6978;
}
.tabs-material li span.isDisabled {
    display: block;
    position: relative;
    padding: 16px 16px;
    background-color: inherit;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    width: 100%;
}
.tabs-material .tab-marker {
    height: 4px;
    width: 135px!important;
    background-color: #2f6978;
}
.session-topics {
    display: inline-block;
    position: absolute;
    z-index: 9999;
    top: 95px;
    left: 20px;
}
.session-topics span {
    font-size: .8rem;
    line-height: 1.4em;
    padding: 3px 4px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}
.session-topics .color_filter {
    list-style: none;
    margin: 0;
    padding: 0;
}
.session-topics .color_filter li {
    font-size: 13px;
    padding: 5px 6px;
}
.session-topics .color_filter li.green {
    border-left: 6px solid #5d9541;
}
.session-topics .color_filter li.darkblue {
    border-left: 6px solid #113658;
}
.session-topics .color_filter li.blue {
    border-left: 6px solid #00bce4;
}
.session-topics .color_filter li.brown {
    border-left: 6px solid #6b2b11;
}
.session-topics .color_filter li.pink {
    border-left: 6px solid #b91d85;
}
.session-topics .color_filter li.gold {
    border-left: 6px solid #bca16e;
}
.streamer .streamer-timeline li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    background: url(../img/grad.png);
    background-repeat: no-repeat;
    background-size: 110%;
}
.streamer .streamer-timeline li em {
    display: none;
}
.streamer .streams .stream.empty {
     min-height: 45px;
} 
.rfic-timeline .streamer .streams .stream.empty {
    display: none;
} 
.streamer .streamer-timeline li:nth-child(6n+1) em {
    font-size: 14px;
    display: block;
    font-weight: bold;
}
.streamer .streamer-actions {
    width: 200px;
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 5px 10px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.streamer .streamer-action * {
    font-size: 21px;
}
.streamer .streamer-actions .streamer-action:first-child {
    height: 23px;
    width: 97px;
    border: none;
    line-height: 22px;
    text-align: left;
    cursor: default;
    background-color: transparent;
    margin: 0;
}
.streamer .streamer-actions .streamer-action.mobile-btn {
    display: none;
    background: url(../img/baseline-menu-24px.svg) center center;
    background-size: 90%;
    background-repeat: no-repeat;
    height: 18px;
}
.streamer .streamer-actions.menu_active .streamer-action.mobile-btn {
    background: url(../img/baseline-close-24px.svg) center center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.streamer .events-area {
    width: 100%;
    padding-left: 200px;
}
.streamer .stream {
    cursor: default;
    width: 200px;
    border-top: none;
    border-left: 1px solid #ccc;
    border-bottom: none;
    border-right: 1px solid #ccc;
}
.streamer .stream-title {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    height: auto;
    line-height: 1.3;
    font-weight: bold;
}
.streamer .stream-secondary {
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}
.streamer .stream.bg-greyblue {
    background-color: #ebf1f7;
}
.streamer .stream.bg-lightpink {
    background-color: #f8e8f3;
}
.streamer .stream.bg-lightgreen {
    background-color: #e9f5f1;
}
.streamer .stream.bg-lightyellow {
    background-color: #fff7ea;
}
.streamer .stream.bg-lightorange {
    background-color: #faecea;
}
.streamer .stream.top-br {
    border-top: 1px solid #ddd;
}
.streamer .stream.br-bt {
    border-bottom: 1px solid #ddd;
}
.streamer .streamer-events .event-group {
    background: linear-gradient(to right, #e8e8e8 1px, transparent 0);
    background-size: 80px 100%;
}
.streamer .stream-events {
    margin-top: 0;   
    min-width: 6280px; 
    min-height: 45px;
}
.rfic-timeline .streamer .stream-events {
    min-height: 0;
}
.streamer .event-group.size-1x {
    width: 40px;
}
.streamer .event-group.size-2x {
    width: 80px;
}
.streamer .event-group.size-3x {
    width: 120px;
}
.streamer .event-group.size-4x {
    width: 160px;
}
.streamer .event-group.size-5x {
    width: 200px;
}
.streamer .event-group.size-6x {
    width: 240px;
}
.streamer .event-group.size-7x {
    width: 280px;
}
.streamer .event-group.size-8x {
    width: 320px;
}
.streamer .event-group.size-9x {
    width: 360px;
}
.streamer .event-group.size-10x {
    width: 400px;
}
.streamer .event-group.size-11x {
    width: 440px;
}
.streamer .event-group.size-12x {
    width: 480px;
}
.streamer .event-group.size-13x {
    width: 520px;
}
.streamer .event-group.size-14x {
    width: 560px;
}
.streamer .event-group.size-15x {
    width: 600px;
}
.streamer .event-group.size-16x {
    width: 640px;
}
.streamer .event-group.size-17x {
    width: 680px;
}
.streamer .event-group.size-18x {
    width: 720px;
}
.streamer .event-group.size-19x {
    width: 760px;
}
.streamer .event-group.size-20x {
    width: 800px;
}
.streamer .event-group.size-21x {
    width: 840px;
}
.streamer .event-group.size-22x {
    width: 880px;
}
.streamer .event-group.size-23x {
    width: 920px;
}
.streamer .event-group.size-24x {
    width: 960px;
}
.streamer .event-group.size-25x {
    width: 1000px;
}
.streamer .event-group.size-26x {
    width: 1040px;
}
.streamer .event-group.size-27x {
    width: 1080px;
}
.streamer .event-group.size-28x {
    width: 1120px;
}
.streamer .event-group.size-29x {
    width: 1160px;
}
.streamer .event-group.size-30x {
    width: 1200px;
}
.streamer .event-group.size-31x {
    width: 1240px;
}
.streamer .event-group.size-32x {
    width: 1280px;
}
.streamer .event-group.size-33x {
    width: 1320px;
}
.streamer .event-group.size-34x {
    width: 1360px;
}
.streamer .event-group.size-35x {
    width: 1400px;
}
.streamer .event-group.size-36x {
    width: 1440px;
}
.streamer .event-group.size-37x {
    width: 1480px;
}
.streamer .event-group.size-38x {
    width: 1520px;
}
.streamer .event-group.size-39x {
    width: 1560px;
}
.streamer .event-group.size-40x {
    width: 1600px;
}
.streamer .event-group.size-41x {
    width: 1640px;
}
.streamer .event-group.size-42x {
    width: 1680px;
}
.streamer .event-group.size-43x {
    width: 1720px;
}
.streamer .event-group.size-44x {
    width: 1760px;
}
.streamer .event-group.size-45x {
    width: 1800px;
}
.streamer .event-group.size-46x {
    width: 1840px;
}
.streamer .event-group.size-47x {
    width: 1880px;
}
.streamer .event-group.size-48x {
    width: 1920px;
}
.streamer .event-group.size-49x {
    width: 1960px;
}
.streamer .event-group.size-50x {
    width: 2000px;
}
.streamer .event-group.size-51x {
    width: 2040px;
}
.streamer .event-group.size-52x {
    width: 2080px;
}
.streamer .event-group.size-53x {
    width: 2120px;
}
.streamer .event-group.size-54x {
    width: 2160px;
}
.streamer .event-group.size-55x {
    width: 2200px;
}
.streamer .event-group.size-56x {
    width: 2240px;
}
.streamer .event-group.size-57x {
    width: 2280px;
}
.streamer .event-group.size-58x {
    width: 2320px;
}
.streamer .event-group.size-59x {
    width: 2360px;
}
.streamer .event-group.size-60x {
    width: 2400px;
}
.streamer .event-group.size-61x {
    width: 2440px;
}
.streamer .event-group.size-62x {
    width: 2480px;
}
.streamer .event-group.size-63x {
    width: 2520px;
}
.streamer .event-group.size-64x {
    width: 2560px;
}
.streamer .event-group.size-65x {
    width: 2600px;
}
.streamer .event-group.size-66x {
    width: 2640px;
}
.streamer .event-group.size-67x {
    width: 2680px;
}
.streamer .event-group.size-68x {
    width: 2720px;
}
.streamer .event-group.size-69x {
    width: 2760px;
}
.streamer .event-group.size-70x {
    width: 2800px;
}
.streamer .event-group.size-71x {
    width: 2840px;
}
.streamer .event-group.size-72x {
    width: 2880px;
}
.streamer .event-group.size-73x {
    width: 2920px;
}
.streamer .event-group.size-74x {
    width: 2960px;
}
.streamer .event-group.size-75x {
    width: 3000px;
}
.streamer .event-group.size-76x {
    width: 3040px;
}
.streamer .event-group.size-77x {
    width: 3080px;
}
.streamer .event-group.size-78x {
    width: 3120px;
}
.streamer .event-group.size-79x {
    width: 3160px;
}
.streamer .event-group.size-80x {
    width: 3200px;
}
.streamer .event-group.size-81x {
    width: 3240px;
}
.streamer .event-group.size-82x {
    width: 3280px;
}
.streamer .event-group.size-83x {
    width: 3320px;
}
.streamer .event-group.size-84x {
    width: 3360px;
}
.streamer .event-group.size-85x {
    width: 3400px;
}
.streamer .event-group.size-86x {
    width: 3440px;
}
.streamer .event-group.size-87x {
    width: 3480px;
}
.streamer .event-group.size-88x {
    width: 3520px;
}
.streamer .event-group.size-89x {
    width: 3560px;
}
.streamer .event-group.size-90x {
    width: 3600px;
}
.streamer .event-group.size-91x {
    width: 3640px;
}
.streamer .event-group.size-92x {
    width: 3680px;
}
.streamer .event-group.size-93x {
    width: 3720px;
}
.streamer .event-group.size-94x {
    width: 3760px;
}
.streamer .event-group.size-95x {
    width: 3800px;
}
.streamer .event-group.size-96x {
    width: 3840px;
}
.streamer .event-group.size-97x {
    width: 3880px;
}
.streamer .event-group.size-98x {
    width: 3920px;
}
.streamer .event-group.size-99x {
    width: 3960px;
}
.streamer .event-group.size-100x {
    width: 4000px;
}
.streamer .event-group.size-101x {
    width: 4040px;
}
.streamer .event-group.size-102x {
    width: 4080px;
}
.streamer .event-group.size-103x {
    width: 4120px;
}
.streamer .event-group.size-104x {
    width: 4160px;
}
.streamer .event-group.size-105x {
    width: 4200px;
}
.streamer .event-group.size-106x {
    width: 4240px;
}
.streamer .event-group.size-107x {
    width: 4280px;
}
.streamer .event-group.size-108x {
    width: 4320px;
}
.streamer .event-group.size-109x {
    width: 4360px;
}
.streamer .event-group.size-110x {
    width: 4400px;
}
.streamer .event-group.size-111x {
width: 4440px;
}
.streamer .event-group.size-112x {
width: 4480px;
}
.streamer .event-group.size-113x {
width: 4520px;
}
.streamer .event-group.size-114x {
width: 4560px;
}
.streamer .event-group.size-115x {
width: 4600px;
}
.streamer .event-group.size-116x {
width: 4640px;
}
.streamer .event-group.size-117x {
width: 4680px;
}
.streamer .event-group.size-118x {
width: 4720px;
}
.streamer .event-group.size-119x {
width: 4760px;
}
.streamer .event-group.size-120x {
width: 4800px;
}
.streamer .event-group.size-121x {
width: 4840px;
}
.streamer .event-group.size-122x {
width: 4880px;
}
.streamer .event-group.size-123x {
width: 4920px;
}
.streamer .event-group.size-124x {
width: 4960px;
}
.streamer .event-group.size-125x {
width: 5000px;
}
.streamer .event-group.size-126x {
width: 5040px;
}
.streamer .event-group.size-127x {
width: 5080px;
}
.streamer .event-group.size-128x {
width: 5120px;
}
.streamer .event-group.size-129x {
width: 5160px;
}
.streamer .event-group.size-130x {
width: 5200px;
}
.streamer .event-group.size-131x {
width: 5240px;
}
.streamer .event-group.size-132x {
width: 5280px;
}
.streamer .event-group.size-133x {
width: 5320px;
}
.streamer .event-group.size-134x {
width: 5360px;
}
.streamer .event-group.size-135x {
width: 5400px;
}
.streamer .event-group.size-136x {
width: 5440px;
}
.streamer .event-group.size-137x {
width: 5480px;
}
.streamer .event-group.size-138x {
width: 5520px;
}
.streamer .event-group.size-139x {
width: 5560px;
}
.streamer .event-group.size-140x {
width: 5600px;
}
.streamer .event-group.size-141x {
width: 5640px;
}
.streamer .event-group.size-142x {
width: 5680px;
}
.streamer .event-group.size-143x {
width: 5720px;
}
.streamer .event-group.size-144x {
width: 5760px;
}
.streamer .event-group.size-145x {
width: 5800px;
}
.streamer .event-group.size-146x {
width: 5840px;
}
.streamer .event-group.size-147x {
width: 5880px;
}
.streamer .event-group.size-148x {
width: 5920px;
}
.streamer .event-group.size-149x {
width: 5960px;
}
.streamer .event-group.size-150x {
width: 6000px;
}
.streamer .event-group.size-151x {
width: 6040px;
}
.streamer .event-group.size-152x {
width: 6080px;
}
.streamer .event-group.size-153x {
width: 6120px;
}
.streamer .event-group.size-154x {
width: 6160px;
}
.streamer .event-group.size-155x {
width: 6200px;
}
.streamer .event-group.size-156x {
width: 6240px;
}
.streamer .event-group.size-157x {
width: 6280px;
}
.streamer .event-group.size-158x {
width: 6320px;
}
.streamer .event-group.size-159x {
width: 6360px;
}
.streamer .event-group.size-160x {
width: 6400px;
}
.streamer .event-group.size-161x {
width: 6440px;
}
.streamer .event-group.size-162x {
width: 6480px;
}
.streamer .event-group.size-163x {
width: 6520px;
}
.streamer .event-group.size-164x {
width: 6560px;
}
.streamer .event-group.size-165x {
width: 6600px;
}
.streamer .event-group.size-166x {
width: 6640px;
}
.streamer .event-group.size-167x {
width: 6680px;
}
.streamer .event-group.size-168x {
width: 6720px;
}
.streamer .event-group.size-169x {
width: 6760px;
}
.streamer .event-group.size-170x {
width: 6800px;
}
.streamer .event-group.size-171x {
width: 6840px;
}
.streamer .event-group.size-172x {
width: 6880px;
}
.streamer .event-group.size-173x {
width: 6920px;
}
.streamer .event-group.size-174x {
width: 6960px;
}
.streamer .event-group.size-175x {
width: 7000px;
}
.streamer .event-group.size-176x {
width: 7040px;
}
.streamer .event-group.size-177x {
width: 7080px;
}
.streamer .event-group.size-178x {
width: 7120px;
}
.streamer .event-group.size-179x {
width: 7160px;
}
.streamer .event-group.size-180x {
width: 7200px;
}
.streamer .event-group.size-181x {
width: 7240px;
}
.streamer .event-group.size-182x {
width: 7280px;
}
.streamer .event-group.size-183x {
width: 7320px;
}
.streamer .event-group.size-184x {
width: 7360px;
}
.streamer .event-group.size-185x {
width: 7400px;
}
.streamer .event-group.size-186x {
width: 7440px;
}
.streamer .event-group.size-187x {
width: 7480px;
}
.streamer .event-group.size-188x {
width: 7520px;
}
.streamer .event-group.size-189x {
width: 7560px;
}
.streamer .event-group.size-190x {
width: 7600px;
}
.streamer .event-group.size-191x {
width: 7640px;
}
.streamer .event-group.size-192x {
width: 7680px;
}
.streamer .event-group.size-193x {
width: 7720px;
}
.streamer .event-group.size-194x {
width: 7760px;
}
.streamer .event-group.size-195x {
width: 7800px;
}
.streamer .event-group.size-196x {
width: 7840px;
}
.streamer .event-group.size-197x {
width: 7880px;
}
.streamer .event-group.size-198x {
width: 7920px;
}
.streamer .event-group.size-199x {
width: 7960px;
}
.streamer .event-group.size-200x {
width: 8000px;
}
.streamer .event-group.size-201x {
width: 8040px;
}
.streamer .event-group.size-202x {
width: 8080px;
}
.streamer .event-group.size-203x {
width: 8120px;
}
.streamer .event-group.size-204x {
width: 8160px;
}
.streamer .event-group.size-205x {
width: 8200px;
}
.streamer .event-group.size-206x {
width: 8240px;
}
.streamer .event-group.size-207x {
width: 8280px;
}
.streamer .event-group.size-208x {
width: 8320px;
}
.streamer .event-group.size-209x {
width: 8360px;
}
.streamer .event-group.size-210x {
width: 8400px;
}
.streamer .event-group.size-211x {
width: 8440px;
}
.streamer .event-group.size-212x {
width: 8480px;
}
.streamer .event-group.size-213x {
width: 8520px;
}
.streamer .event-group.size-214x {
width: 8560px;
}
.streamer .event-group.size-215x {
width: 8600px;
}
.streamer .event-group.size-216x {
width: 8640px;
}
.streamer .event-group.size-217x {
width: 8680px;
}
.streamer .event-group.size-218x {
width: 8720px;
}
.streamer .event-group.size-219x {
width: 8760px;
}
.streamer .event-group.size-220x {
width: 8800px;
}
.streamer .event-group.size-221x {
width: 8840px;
}
.streamer .event-group.size-222x {
width: 8880px;
}
.streamer .event-group.size-223x {
width: 8920px;
}
.streamer .event-group.size-224x {
width: 8960px;
}
.streamer .event-group.size-225x {
width: 9000px;
}
.streamer .event-group.size-226x {
width: 9040px;
}
.streamer .event-group.size-227x {
width: 9080px;
}
.streamer .event-group.size-228x {
width: 9120px;
}
.streamer .event-group.size-229x {
width: 9160px;
}
.streamer .event-group.size-230x {
width: 9200px;
}
.streamer .event-group.size-231x {
width: 9240px;
}
.streamer .event-group.size-232x {
width: 9280px;
}
.streamer .event-group.size-233x {
width: 9320px;
}
.streamer .event-group.size-234x {
width: 9360px;
}
.streamer .event-group.size-235x {
width: 9400px;
}
.streamer .event-group.size-236x {
width: 9440px;
}
.streamer .event-group.size-237x {
width: 9480px;
}
.streamer .event-group.size-238x {
width: 9520px;
}
.streamer .event-group.size-239x {
width: 9560px;
}
.streamer .event-group.size-240x {
width: 9600px;
}
.streamer .event-group.size-241x {
width: 9640px;
}
.streamer .event-group.size-242x {
width: 9680px;
}
.streamer .event-group.size-243x {
width: 9720px;
}
.streamer .event-group.size-244x {
width: 9760px;
}
.streamer .event-group.size-245x {
width: 9800px;
}
.streamer .event-group.size-246x {
width: 9840px;
}
.streamer .event-group.size-247x {
width: 9880px;
}
.streamer .event-group.size-248x {
width: 9920px;
}
.streamer .event-group.size-249x {
width: 9960px;
}
.streamer .event-group.size-250x {
width: 10000px;
}
.streamer .event-group.size-251x {
width: 10040px;
}
.streamer .event-group.size-252x {
width: 10080px;
}
.streamer .event-group.size-253x {
width: 10120px;
}
.streamer .event-group.size-254x {
width: 10160px;
}
.streamer .event-group.size-255x {
width: 10200px;
}
.streamer .event-group.size-256x {
width: 10240px;
}
.streamer .event-group.size-257x {
width: 10280px;
}
.streamer .event-group.size-258x {
width: 10320px;
}
.streamer .event-group.size-259x {
width: 10360px;
}
.streamer .event-group.size-260x {
width: 10400px;
}
.streamer .event-group.size-261x {
width: 10440px;
}
.streamer .event-group.size-262x {
width: 10480px;
}
.streamer .event-group.size-263x {
width: 10520px;
}
.streamer .event-group.size-264x {
width: 10560px;
}
.streamer .event-group.size-265x {
width: 10600px;
}
.streamer .event-group.size-266x {
width: 10640px;
}
.streamer .event-group.size-267x {
width: 10680px;
}
.streamer .event-group.size-268x {
width: 10720px;
}
.streamer .event-group.size-269x {
width: 10760px;
}
.streamer .event-group.size-270x {
width: 10800px;
}
.streamer .event-group.size-271x {
width: 10840px;
}
.streamer .event-group.size-272x {
width: 10880px;
}
.streamer .event-group.size-273x {
width: 10920px;
}
.streamer .event-group.size-274x {
width: 10960px;
}
.streamer .event-group.size-275x {
width: 11000px;
}
.streamer .event-group.size-276x {
width: 11040px;
}
.streamer .event-group.size-277x {
width: 11080px;
}
.streamer .event-group.size-278x {
width: 11120px;
}
.streamer .event-group.size-279x {
width: 11160px;
}
.streamer .event-group.size-280x {
width: 11200px;
}
.streamer .event-group.size-281x {
width: 11240px;
}
.streamer .event-group.size-282x {
width: 11280px;
}
.streamer .event-group.size-283x {
width: 11320px;
}
.streamer .event-group.size-284x {
width: 11360px;
}
.streamer .event-group.size-285x {
width: 11400px;
}
.streamer .event-group.size-286x {
width: 11440px;
}
.streamer .event-group.size-287x {
width: 11480px;
}
.streamer .event-group.size-288x {
width: 11520px;
}
.streamer .event-group.size-289x {
width: 11560px;
}
.streamer .event-group.size-290x {
width: 11600px;
}
.streamer .event-group.size-291x {
width: 11640px;
}
.streamer .event-group.size-292x {
width: 11680px;
}
.streamer .event-group.size-293x {
width: 11720px;
}
.streamer .event-group.size-294x {
width: 11760px;
}
.streamer .event-group.size-295x {
width: 11800px;
}
.streamer .event-group.size-296x {
width: 11840px;
}
.streamer .event-group.size-297x {
width: 11880px;
}
.streamer .event-group.size-298x {
width: 11920px;
}
.streamer .event-group.size-299x {
width: 11960px;
}
.streamer .event-group.size-300x {
width: 12000px;
}

/*---------------------------*/
.streamer .event-group.shift-21x {
width: 840px;
}
.streamer .event-group.shift-22x {
width: 880px;
}
.streamer .event-group.shift-23x {
width: 920px;
}
.streamer .event-group.shift-24x {
width: 960px;
}
.streamer .event-group.shift-25x {
width: 1000px;
}
.streamer .event-group.shift-26x {
width: 1040px;
}
.streamer .event-group.shift-27x {
width: 1080px;
}
.streamer .event-group.shift-28x {
width: 1120px;
}
.streamer .event-group.shift-29x {
width: 1160px;
}
.streamer .event-group.shift-30x {
width: 1200px;
}
.streamer .event-group.shift-31x {
width: 1240px;
}
.streamer .event-group.shift-32x {
width: 1280px;
}
.streamer .event-group.shift-33x {
width: 1320px;
}
.streamer .event-group.shift-34x {
width: 1360px;
}
.streamer .event-group.shift-35x {
width: 1400px;
}
.streamer .event-group.shift-36x {
width: 1440px;
}
.streamer .event-group.shift-37x {
width: 1480px;
}
.streamer .event-group.shift-38x {
width: 1520px;
}
.streamer .event-group.shift-39x {
width: 1560px;
}
.streamer .event-group.shift-40x {
width: 1600px;
}
.streamer .event-group.shift-41x {
width: 1640px;
}
.streamer .event-group.shift-42x {
width: 1680px;
}
.streamer .event-group.shift-43x {
width: 1720px;
}
.streamer .event-group.shift-44x {
width: 1760px;
}
.streamer .event-group.shift-45x {
width: 1800px;
}
.streamer .event-group.shift-46x {
width: 1840px;
}
.streamer .event-group.shift-47x {
width: 1880px;
}
.streamer .event-group.shift-48x {
width: 1920px;
}
.streamer .event-group.shift-49x {
width: 1960px;
}
.streamer .event-group.shift-50x {
width: 2000px;
}
.streamer .event-group.shift-51x {
width: 2040;
}
.streamer .event-group.shift-52x {
width: 2080px;
}
.streamer .event-group.shift-53x {
width: 2120px;
}
.streamer .event-group.shift-54x {
width: 2160px;
}
.streamer .event-group.shift-55x {
width: 2200px;
}
.streamer .event-group.shift-56x {
width: 2240px;
}
.streamer .event-group.shift-57x {
width: 2280px;
}
.streamer .event-group.shift-58x {
width: 2320px;
}
.streamer .event-group.shift-59x {
width: 2360px;
}
.streamer .event-group.shift-60x {
width: 2400px;
}
.streamer .event-group.shift-61x {
width: 2440px;
}
.streamer .event-group.shift-62x {
width: 2480px;
}
.streamer .event-group.shift-63x {
width: 2520px;
}
.streamer .event-group.shift-64x {
width: 2560px;
}
.streamer .event-group.shift-65x {
width: 2600px;
}
.streamer .event-group.shift-66x {
width: 2640px;
}
.streamer .event-group.shift-67x {
width: 2680px;
}
.streamer .event-group.shift-68x {
width: 2720px;
}
.streamer .event-group.shift-69x {
width: 2760px;
}
.streamer .event-group.shift-70x {
width: 2800px;
}
.streamer .event-group.shift-71x {
width: 2840px;
}
.streamer .event-group.shift-72x {
width: 2880px;
}
.streamer .event-group.shift-73x {
width: 2920px;
}
.streamer .event-group.shift-74x {
width: 2960px;
}
.streamer .event-group.shift-75x {
width: 3000px;
}
.streamer .event-group.shift-76x {
width: 3040px;
}
.streamer .event-group.shift-77x {
width: 3080px;
}
.streamer .event-group.shift-78x {
width: 3120px;
}
.streamer .event-group.shift-79x {
width: 3160px;
}
.streamer .event-group.shift-80x {
width: 3200px;
}
.streamer .event-group.shift-81x {
width: 3240px;
}
.streamer .event-group.shift-82x {
width: 3280px;
}
.streamer .event-group.shift-83x {
width: 3320px;
}
.streamer .event-group.shift-84x {
width: 3360px;
}
.streamer .event-group.shift-85x {
width: 3400px;
}
.streamer .event-group.shift-86x {
width: 3440px;
}
.streamer .event-group.shift-87x {
width: 3480px;
}
.streamer .event-group.shift-88x {
width: 3520px;
}
.streamer .event-group.shift-89x {
width: 3560px;
}
.streamer .event-group.shift-90x {
width: 3600px;
}
.streamer .event-group.shift-91x {
width: 3640px;
}
.streamer .event-group.shift-92x {
width: 3680px;
}
.streamer .event-group.shift-93x {
width: 3720px;
}
.streamer .event-group.shift-94x {
width: 3760px;
}
.streamer .event-group.shift-95x {
width: 3800px;
}
.streamer .event-group.shift-96x {
width: 3840px;
}
.streamer .event-group.shift-97x {
width: 3880px;
}
.streamer .event-group.shift-98x {
width: 3920px;
}
.streamer .event-group.shift-99x {
width: 3960px;
}
.streamer .event-group.shift-100x {
width: 4000px;
}

/*-----------------------------*/
.streamer .stream-event.size-1x {
width: 40px;
}
.streamer .stream-event.size-2x {
width: 80px;
}
.streamer .stream-event.size-3x {
width: 120px;
}
.streamer .stream-event.size-4x {
width: 160px;
}
.streamer .stream-event.size-5x {
width: 200px;
}
.streamer .stream-event.size-6x {
width: 240px;
}
.streamer .stream-event.size-7x {
width: 280px;
}
.streamer .stream-event.size-8x {
width: 320px;
}
.streamer .stream-event.size-9x {
width: 360px;
}
.streamer .stream-event.size-10x {
width: 400px;
}
.streamer .stream-event.size-11x {
width: 440px;
}
.streamer .stream-event.size-12x {
width: 480px;
}
.streamer .stream-event.size-13x {
width: 520px;
}
.streamer .stream-event.size-14x {
width: 560px;
}
.streamer .stream-event.size-15x {
width: 600px;
}
.streamer .stream-event.size-16x {
width: 640px;
}
.streamer .stream-event.size-17x {
width: 680px;
}
.streamer .stream-event.size-18x {
width: 720px;
}
.streamer .stream-event.size-19x {
width: 760px;
}
.streamer .stream-event.size-20x {
width: 800px;
}
.streamer .stream-event.size-21x {
width: 840px;
}
.streamer .stream-event.size-22x {
width: 880px;
}
.streamer .stream-event.size-23x {
width: 920px;
}
.streamer .stream-event.size-24x {
width: 960px;
}
.streamer .stream-event.size-25x {
width: 1000px;
}
.streamer .stream-event.size-26x {
width: 1040px;
}
.streamer .stream-event.size-27x {
width: 1080px;
}
.streamer .stream-event.size-28x {
width: 1120px;
}
.streamer .stream-event.size-29x {
width: 1160px;
}
.streamer .stream-event.size-30x {
width: 1200px;
}
.streamer .stream-event.size-31x {
width: 1240px;
}
.streamer .stream-event.size-32x {
width: 1280px;
}
.streamer .stream-event.size-33x {
width: 1320px;
}
.streamer .stream-event.size-34x {
width: 1360px;
}
.streamer .stream-event.size-35x {
width: 1400px;
}
.streamer .stream-event.size-36x {
width: 1440px;
}
.streamer .stream-event.size-37x {
width: 1480px;
}
.streamer .stream-event.size-38x {
width: 1520px;
}
.streamer .stream-event.size-39x {
width: 1560px;
}
.streamer .stream-event.size-40x {
width: 1600px;
}
.streamer .stream-event.size-41x {
width: 1640px;
}
.streamer .stream-event.size-42x {
width: 1680px;
}
.streamer .stream-event.size-43x {
width: 1720px;
}
.streamer .stream-event.size-44x {
width: 1760px;
}
.streamer .stream-event.size-45x {
width: 1800px;
}
.streamer .stream-event.size-46x {
width: 1840px;
}
.streamer .stream-event.size-47x {
width: 1880px;
}
.streamer .stream-event.size-48x {
width: 1920px;
}
.streamer .stream-event.size-49x {
width: 1960px;
}
.streamer .stream-event.size-50x {
width: 2000px;
}
.streamer .stream-event.size-51x {
width: 2040px;
}
.streamer .stream-event.size-52x {
width: 2080px;
}
.streamer .stream-event.size-53x {
width: 2120px;
}
.streamer .stream-event.size-54x {
width: 2160px;
}
.streamer .stream-event.size-55x {
width: 2200px;
}
.streamer .stream-event.size-56x {
width: 2240px;
}
.streamer .stream-event.size-57x {
width: 2280px;
}
.streamer .stream-event.size-58x {
width: 2320px;
}
.streamer .stream-event.size-59x {
width: 2360px;
}
.streamer .stream-event.size-60x {
width: 2400px;
}
.streamer .stream-event.size-61x {
width: 2440px;
}
.streamer .stream-event.size-62x {
width: 2480px;
}
.streamer .stream-event.size-63x {
width: 2520px;
}
.streamer .stream-event.size-64x {
width: 2560px;
}
.streamer .stream-event.size-65x {
width: 2600px;
}
.streamer .stream-event.size-66x {
width: 2640px;
}
.streamer .stream-event.size-67x {
width: 2680px;
}
.streamer .stream-event.size-68x {
width: 2720px;
}
.streamer .stream-event.size-69x {
width: 2760px;
}
.streamer .stream-event.size-70x {
width: 2800px;
}
.streamer .stream-event.size-71x {
width: 2840px;
}
.streamer .stream-event.size-72x {
width: 2880px;
}
.streamer .stream-event.size-73x {
width: 2920px;
}
.streamer .stream-event.size-74x {
width: 2960px;
}
.streamer .stream-event.size-75x {
width: 3000px;
}
.streamer .stream-event.size-76x {
width: 3040px;
}
.streamer .stream-event.size-77x {
width: 3080px;
}
.streamer .stream-event.size-78x {
width: 3120px;
}
.streamer .stream-event.size-79x {
width: 3160px;
}
.streamer .stream-event.size-80x {
width: 3200px;
}
.streamer .stream-event.size-81x {
width: 3240px;
}
.streamer .stream-event.size-82x {
width: 3280px;
}
.streamer .stream-event.size-83x {
width: 3320px;
}
.streamer .stream-event.size-84x {
width: 3360px;
}
.streamer .stream-event.size-85x {
width: 3400px;
}
.streamer .stream-event.size-86x {
width: 3440px;
}
.streamer .stream-event.size-87x {
width: 3480px;
}
.streamer .stream-event.size-88x {
width: 3520px;
}
.streamer .stream-event.size-89x {
width: 3560px;
}
.streamer .stream-event.size-90x {
width: 3600px;
}
.streamer .stream-event.size-91x {
width: 3640px;
}
.streamer .stream-event.size-92x {
width: 3680px;
}
.streamer .stream-event.size-93x {
width: 3720px;
}
.streamer .stream-event.size-94x {
width: 3760px;
}
.streamer .stream-event.size-95x {
width: 3800px;
}
.streamer .stream-event.size-96x {
width: 3840px;
}
.streamer .stream-event.size-97x {
width: 3880px;
}
.streamer .stream-event.size-98x {
width: 3920px;
}
.streamer .stream-event.size-99x {
width: 3960px;
}
.streamer .stream-event.size-100x {
width: 4000px;
}
.streamer .stream-event.size-101x {
width: 4040px;
}
.streamer .stream-event.size-102x {
width: 4080px;
}
.streamer .stream-event.size-103x {
width: 4120px;
}
.streamer .stream-event.size-104x {
width: 4160px;
}
.streamer .stream-event.size-105x {
width: 4200px;
}
.streamer .stream-event.size-106x {
width: 4240px;
}
.streamer .stream-event.size-107x {
width: 4280px;
}
.streamer .stream-event.size-108x {
width: 4320px;
}
.streamer .stream-event.size-109x {
width: 4360px;
}
.streamer .stream-event.size-110x {
width: 4400px;
}
.streamer .stream-event.size-111x {
width: 4440px;
}
.streamer .stream-event.size-112x {
width: 4480px;
}
.streamer .stream-event.size-113x {
width: 4520px;
}
.streamer .stream-event.size-114x {
width: 4560px;
}
.streamer .stream-event.size-115x {
width: 4600px;
}
.streamer .stream-event.size-116x {
width: 4640px;
}
.streamer .stream-event.size-117x {
width: 4680px;
}
.streamer .stream-event.size-118x {
width: 4720px;
}
.streamer .stream-event.size-119x {
width: 4760px;
}
.streamer .stream-event.size-120x {
width: 4800px;
}
.streamer .stream-event.size-121x {
width: 4840px;
}
.streamer .stream-event.size-122x {
width: 4880px;
}
.streamer .stream-event.size-123x {
width: 4920px;
}
.streamer .stream-event.size-124x {
width: 4960px;
}
.streamer .stream-event.size-125x {
width: 5000px;
}
.streamer .stream-event.size-126x {
width: 5040px;
}
.streamer .stream-event.size-127x {
width: 5080px;
}
.streamer .stream-event.size-128x {
width: 5120px;
}
.streamer .stream-event.size-129x {
width: 5160px;
}
.streamer .stream-event.size-130x {
width: 5200px;
}
.streamer .stream-event.size-131x {
width: 5240px;
}
.streamer .stream-event.size-132x {
width: 5280px;
}
.streamer .stream-event.size-133x {
width: 5320px;
}
.streamer .stream-event.size-134x {
width: 5360px;
}
.streamer .stream-event.size-135x {
width: 5400px;
}
.streamer .stream-event.size-136x {
width: 5440px;
}
.streamer .stream-event.size-137x {
width: 5480px;
}
.streamer .stream-event.size-138x {
width: 5520px;
}
.streamer .stream-event.size-139x {
width: 5560px;
}
.streamer .stream-event.size-140x {
width: 5600px;
}
.streamer .stream-event.size-141x {
width: 5640px;
}
.streamer .stream-event.size-142x {
width: 5680px;
}
.streamer .stream-event.size-143x {
width: 5720px;
}
.streamer .stream-event.size-144x {
width: 5760px;
}
.streamer .stream-event.size-145x {
width: 5800px;
}
.streamer .stream-event.size-146x {
width: 5840px;
}
.streamer .stream-event.size-147x {
width: 5880px;
}
.streamer .stream-event.size-148x {
width: 5920px;
}
.streamer .stream-event.size-149x {
width: 5960px;
}
.streamer .stream-event.size-150x {
width: 6000px;
}
.streamer .stream-event.size-151x {
width: 6040px;
}
.streamer .stream-event.size-152x {
width: 6080px;
}
.streamer .stream-event.size-153x {
width: 6120px;
}
.streamer .stream-event.size-154x {
width: 6160px;
}
.streamer .stream-event.size-155x {
width: 6200px;
}
.streamer .stream-event.size-156x {
width: 6240px;
}
.streamer .stream-event.size-157x {
width: 6280px;
}
.streamer .stream-event.size-158x {
width: 6320px;
}
.streamer .stream-event.size-159x {
width: 6360px;
}
.streamer .stream-event.size-160x {
width: 6400px;
}
.streamer .stream-event.size-161x {
width: 6440px;
}
.streamer .stream-event.size-162x {
width: 6480px;
}
.streamer .stream-event.size-163x {
width: 6520px;
}
.streamer .stream-event.size-164x {
width: 6560px;
}
.streamer .stream-event.size-165x {
width: 6600px;
}
.streamer .stream-event.size-166x {
width: 6640px;
}
.streamer .stream-event.size-167x {
width: 6680px;
}
.streamer .stream-event.size-168x {
width: 6720px;
}
.streamer .stream-event.size-169x {
width: 6760px;
}
.streamer .stream-event.size-170x {
width: 6800px;
}
.streamer .stream-event.size-171x {
width: 6840px;
}
.streamer .stream-event.size-172x {
width: 6880px;
}
.streamer .stream-event.size-173x {
width: 6920px;
}
.streamer .stream-event.size-174x {
width: 6960px;
}
.streamer .stream-event.size-175x {
width: 7000px;
}
.streamer .stream-event.size-176x {
width: 7040px;
}
.streamer .stream-event.size-177x {
width: 7080px;
}
.streamer .stream-event.size-178x {
width: 7120px;
}
.streamer .stream-event.size-179x {
width: 7160px;
}
.streamer .stream-event.size-180x {
width: 7200px;
}
.streamer .stream-event.size-181x {
width: 7240px;
}
.streamer .stream-event.size-182x {
width: 7280px;
}
.streamer .stream-event.size-183x {
width: 7320px;
}
.streamer .stream-event.size-184x {
width: 7360px;
}
.streamer .stream-event.size-185x {
width: 7400px;
}
.streamer .stream-event.size-186x {
width: 7440px;
}
.streamer .stream-event.size-187x {
width: 7480px;
}
.streamer .stream-event.size-188x {
width: 7520px;
}
.streamer .stream-event.size-189x {
width: 7560px;
}
.streamer .stream-event.size-190x {
width: 7600px;
}
.streamer .stream-event.size-191x {
width: 7640px;
}
.streamer .stream-event.size-192x {
width: 7680px;
}
.streamer .stream-event.size-193x {
width: 7720px;
}
.streamer .stream-event.size-194x {
width: 7760px;
}
.streamer .stream-event.size-195x {
width: 7800px;
}
.streamer .stream-event.size-196x {
width: 7840px;
}
.streamer .stream-event.size-197x {
width: 7880px;
}
.streamer .stream-event.size-198x {
width: 7920px;
}
.streamer .stream-event.size-199x {
width: 7960px;
}
.streamer .stream-event.size-200x {
width: 8000px;
}
.streamer .stream-event.size-201x {
width: 8040px;
}
.streamer .stream-event.size-202x {
width: 8080px;
}
.streamer .stream-event.size-203x {
width: 8120px;
}
.streamer .stream-event.size-204x {
width: 8160px;
}
.streamer .stream-event.size-205x {
width: 8200px;
}
.streamer .stream-event.size-206x {
width: 8240px;
}
.streamer .stream-event.size-207x {
width: 8280px;
}
.streamer .stream-event.size-208x {
width: 8320px;
}
.streamer .stream-event.size-209x {
width: 8360px;
}
.streamer .stream-event.size-210x {
width: 8400px;
}
.streamer .stream-event.size-211x {
width: 8440px;
}
.streamer .stream-event.size-212x {
width: 8480px;
}
.streamer .stream-event.size-213x {
width: 8520px;
}
.streamer .stream-event.size-214x {
width: 8560px;
}
.streamer .stream-event.size-215x {
width: 8600px;
}
.streamer .stream-event.size-216x {
width: 8640px;
}
.streamer .stream-event.size-217x {
width: 8680px;
}
.streamer .stream-event.size-218x {
width: 8720px;
}
.streamer .stream-event.size-219x {
width: 8760px;
}
.streamer .stream-event.size-220x {
width: 8800px;
}
.streamer .stream-event.size-221x {
width: 8840px;
}
.streamer .stream-event.size-222x {
width: 8880px;
}
.streamer .stream-event.size-223x {
width: 8920px;
}
.streamer .stream-event.size-224x {
width: 8960px;
}
.streamer .stream-event.size-225x {
width: 9000px;
}
.streamer .stream-event.size-226x {
width: 9040px;
}
.streamer .stream-event.size-227x {
width: 9080px;
}
.streamer .stream-event.size-228x {
width: 9120px;
}
.streamer .stream-event.size-229x {
width: 9160px;
}
.streamer .stream-event.size-230x {
width: 9200px;
}
.streamer .stream-event.size-231x {
width: 9240px;
}
.streamer .stream-event.size-232x {
width: 9280px;
}
.streamer .stream-event.size-233x {
width: 9320px;
}
.streamer .stream-event.size-234x {
width: 9360px;
}
.streamer .stream-event.size-235x {
width: 9400px;
}
.streamer .stream-event.size-236x {
width: 9440px;
}
.streamer .stream-event.size-237x {
width: 9480px;
}
.streamer .stream-event.size-238x {
width: 9520px;
}
.streamer .stream-event.size-239x {
width: 9560px;
}
.streamer .stream-event.size-240x {
width: 9600px;
}
.streamer .stream-event.size-241x {
width: 9640px;
}
.streamer .stream-event.size-242x {
width: 9680px;
}
.streamer .stream-event.size-243x {
width: 9720px;
}
.streamer .stream-event.size-244x {
width: 9760px;
}
.streamer .stream-event.size-245x {
width: 9800px;
}
.streamer .stream-event.size-246x {
width: 9840px;
}
.streamer .stream-event.size-247x {
width: 9880px;
}
.streamer .stream-event.size-248x {
width: 9920px;
}
.streamer .stream-event.size-249x {
width: 9960px;
}
.streamer .stream-event.size-250x {
width: 10000px;
}
.streamer .stream-event.size-251x {
width: 10040px;
}
.streamer .stream-event.size-252x {
width: 10080px;
}
.streamer .stream-event.size-253x {
width: 10120px;
}
.streamer .stream-event.size-254x {
width: 10160px;
}
.streamer .stream-event.size-255x {
width: 10200px;
}
.streamer .stream-event.size-256x {
width: 10240px;
}
.streamer .stream-event.size-257x {
width: 10280px;
}
.streamer .stream-event.size-258x {
width: 10320px;
}
.streamer .stream-event.size-259x {
width: 10360px;
}
.streamer .stream-event.size-260x {
width: 10400px;
}
.streamer .stream-event.size-261x {
width: 10440px;
}
.streamer .stream-event.size-262x {
width: 10480px;
}
.streamer .stream-event.size-263x {
width: 10520px;
}
.streamer .stream-event.size-264x {
width: 10560px;
}
.streamer .stream-event.size-265x {
width: 10600px;
}
.streamer .stream-event.size-266x {
width: 10640px;
}
.streamer .stream-event.size-267x {
width: 10680px;
}
.streamer .stream-event.size-268x {
width: 10720px;
}
.streamer .stream-event.size-269x {
width: 10760px;
}
.streamer .stream-event.size-270x {
width: 10800px;
}
.streamer .stream-event.size-271x {
width: 10840px;
}
.streamer .stream-event.size-272x {
width: 10880px;
}
.streamer .stream-event.size-273x {
width: 10920px;
}
.streamer .stream-event.size-274x {
width: 10960px;
}
.streamer .stream-event.size-275x {
width: 11000px;
}
.streamer .stream-event.size-276x {
width: 11040px;
}
.streamer .stream-event.size-277x {
width: 11080px;
}
.streamer .stream-event.size-278x {
width: 11120px;
}
.streamer .stream-event.size-279x {
width: 11160px;
}
.streamer .stream-event.size-280x {
width: 11200px;
}
.streamer .stream-event.size-281x {
width: 11240px;
}
.streamer .stream-event.size-282x {
width: 11280px;
}
.streamer .stream-event.size-283x {
width: 11320px;
}
.streamer .stream-event.size-284x {
width: 11360px;
}
.streamer .stream-event.size-285x {
width: 11400px;
}
.streamer .stream-event.size-286x {
width: 11440px;
}
.streamer .stream-event.size-287x {
width: 11480px;
}
.streamer .stream-event.size-288x {
width: 11520px;
}
.streamer .stream-event.size-289x {
width: 11560px;
}
.streamer .stream-event.size-290x {
width: 11600px;
}
.streamer .stream-event.size-291x {
width: 11640px;
}
.streamer .stream-event.size-292x {
width: 11680px;
}
.streamer .stream-event.size-293x {
width: 11720px;
}
.streamer .stream-event.size-294x {
width: 11760px;
}
.streamer .stream-event.size-295x {
width: 11800px;
}
.streamer .stream-event.size-296x {
width: 11840px;
}
.streamer .stream-event.size-297x {
width: 11880px;
}
.streamer .stream-event.size-298x {
width: 11920px;
}
.streamer .stream-event.size-299x {
width: 11960px;
}
.streamer .stream-event.size-300x {
width: 12000px;
}

/*----------------------------------*/
.streamer .stream-event.shift-1x {
margin-left: 40px;
}
.streamer .stream-event.shift-2x {
margin-left: 80px;
}
.streamer .stream-event.shift-3x {
margin-left: 120px;
}
.streamer .stream-event.shift-4x {
margin-left: 160px;
}
.streamer .stream-event.shift-5x {
margin-left: 200px;
}
.streamer .stream-event.shift-6x {
margin-left: 240px;
}
.streamer .stream-event.shift-7x {
margin-left: 280px;
}
.streamer .stream-event.shift-8x {
margin-left: 320px;
}
.streamer .stream-event.shift-9x {
margin-left: 360px;
}
.streamer .stream-event.shift-10x {
margin-left: 400px;
}
.streamer .stream-event.shift-11x {
margin-left: 440px;
}
.streamer .stream-event.shift-12x {
margin-left: 480px;
}
.streamer .stream-event.shift-13x {
margin-left: 520px;
}
.streamer .stream-event.shift-14x {
margin-left: 560px;
}
.streamer .stream-event.shift-15x {
margin-left: 600px;
}
.streamer .stream-event.shift-16x {
margin-left: 640px;
}
.streamer .stream-event.shift-17x {
margin-left: 680px;
}
.streamer .stream-event.shift-18x {
margin-left: 720px;
}
.streamer .stream-event.shift-19x {
margin-left: 760px;
}
.streamer .stream-event.shift-20x {
margin-left: 800px;
}
.streamer .stream-event.shift-21x {
    margin-left: 840px;
}
.streamer .stream-event.shift-22x {
    margin-left: 880px;
}
.streamer .stream-event.shift-23x {
    margin-left: 920px;
}
.streamer .stream-event.shift-24x {
    margin-left: 960px;
}
.streamer .stream-event.shift-25x {
    margin-left: 1000px;
}
.streamer .stream-event.shift-26x {
    margin-left: 1040px;
}
.streamer .stream-event.shift-27x {
    margin-left: 1080px;
}
.streamer .stream-event.shift-28x {
    margin-left: 1120px;
}
.streamer .stream-event.shift-29x {
    margin-left: 1160px;
}
.streamer .stream-event.shift-30x {
    margin-left: 1200px;
}
.streamer .stream-event.shift-31x {
    margin-left: 1240px;
}
.streamer .stream-event.shift-32x {
    margin-left: 1280px;
}
.streamer .stream-event.shift-33x {
    margin-left: 1320px;
}
.streamer .stream-event.shift-34x {
    margin-left: 1360px;
}
.streamer .stream-event.shift-35x {
    margin-left: 1400px;
}
.streamer .stream-event.shift-36x {
    margin-left: 1440px;
}
.streamer .stream-event.shift-37x {
    margin-left: 1480px;
}
.streamer .stream-event.shift-38x {
    margin-left: 1520px;
}
.streamer .stream-event.shift-39x {
    margin-left: 1560px;
}
.streamer .stream-event.shift-40x {
    margin-left: 1600px;
}
.streamer .stream-event.shift-41x {
    margin-left: 1640px;
}
.streamer .stream-event.shift-42x {
    margin-left: 1680px;
}
.streamer .stream-event.shift-43x {
    margin-left: 1720px;
}
.streamer .stream-event.shift-44x {
    margin-left: 1760px;
}
.streamer .stream-event.shift-45x {
    margin-left: 1800px;
}
.streamer .stream-event.shift-46x {
    margin-left: 1840px;
}
.streamer .stream-event.shift-47x {
    margin-left: 1880px;
}
.streamer .stream-event.shift-48x {
    margin-left: 1920px;
}
.streamer .stream-event.shift-49x {
    margin-left:1960px;
}
.streamer .stream-event.shift-50x {
    margin-left: 2000px;
}

.streamer .stream-events:nth-child(2n + 0) {
    background: rgba(0, 0, 0, .05);
}
.streamer .stream-events:first-child {
    margin-top: 1px;
}
.streamer .stream-event {
    border: 1px solid #fff;
    margin: 0;
    background-color: transparent;
    max-height: 75px;
}
.streamer .stream-event.session-color-113658 {
    background-color: #113658;
    color: white;
}
.streamer .stream-event.session-color-5d9541 {
    background-color: #5d9541;
    color: white;
}
.streamer .stream-event.session-color-b91d85 {
    background-color: #b91d85;
    color: white;
}
.streamer .stream-event.session-color-6b2b11 {
    background-color: #6b2b11;
    color: white;
}
.streamer .stream-event.session-color-00bce4 {
    background-color: #00bce4;
    color: white;
}
.streamer .stream-event.session-color- {    
    background-color: #fdfdfd;
    color: #333;
    border: 2px solid #e0e0e0;
}
.streamer .stream-event.session-color-bca16e {
    background-color: #bca16e;
    color: white;
}
.streamer .stream-event.session-color-ff8a00 {
    background-color: #ff8a00;
    color: white;
}
.streamer .stream-event.session-color-9f00ff {
    background-color: #9f00ff;
    color: white;
}
.streamer .stream-event.empty {
    border: none;
}
.streamer .stream-event.bg-lightgrey {
    background-color: #fff;
    border: 2px solid #ddd;
}
.streamer .stream-event-slide .slide-logo .time,
.streamer .stream-event-slide .slide-logo {
    display: none;
}
.streamer .stream-event-slide .slide-data {
    display: block;
    margin: 0 9px;
    padding: 8px 0;
    /*width: 100%;*/
}
.streamer .stream-event-slide .slide-data .title {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
.streamer .stream-event-slide .slide-data .title b {
    margin-right: 5px;
}
.streamer .stream-event.size-3x .stream-event-slide .slide-data .title {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: block;
    display: -webkit-box;
    height: 29.2px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.streamer .stream-event-slide .slide-data .desc {
    font-size: 13px;
    color: inherit;
    margin-top: 10px;
    height: 15px;
}
.liner{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    display:inline-block;
    width:100%
}
.liner-nl{
    display:block
}

@media only screen and (max-width: 766px) {
    
    .tabs-material {
        margin-left: 58px;
    }
    .session-topics {
        display: none;    
    }
    .streamer .streamer-actions {
        display: block;
        width: 40px;
        padding: 5px 5px;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    .streamer .streamer-actions .streamer-action.mobile-btn {
        display: block;       
    }
    .streamer .streamer-actions .streamer-action:first-child {
        display: none;
        opacity: 0;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    .streamer .events-area {
        padding-left: 40px;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    .streamer .stream {
        width: 40px;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    .streamer .stream-secondary {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease;
    }
    html.metro-touch-device .streamer .stream.focused,
    html.metro-no-touch-device .streamer .stream:hover {
        width: 40px;
    }
    html.metro-touch-device .streamer .stream.menu_active.focused {
        width: 200px;
    }
    .streamer .streamer-actions.menu_active {
        display: flex;
        width: 200px;
    }
    .streamer .streamer-actions.menu_active .streamer-action:first-child {
        display: block;
        opacity: 1;
    }
    .streamer .stream.menu_active {
        width: 200px;
    }
    .streamer .events-area.menu_active {
        padding-left: 200px;
    }
    .streamer .stream.menu_active .stream-secondary {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.8s ease;
    }
    .streamer .stream.br-bt {
        border-bottom: 1px solid transparent;
    }
    .streamer .stream.menu_active.br-bt {
        border-bottom: 1px solid #ddd;
    }
    .streamer .stream.top-br .stream-title {
        width: 0;
        white-space: nowrap;
        transform-origin: top;
        margin-top: 155px;
        transform: rotate(270deg);
        animation-name: hideIn;
        animation-duration: 1s;
    }
    .streamer .stream.top-br:nth-of-type(9) .stream-title {
        margin-top: 110px;
    }
    .streamer .stream.top-br:nth-of-type(17) .stream-title {
        margin-top: 88px;
    }
    .streamer .stream.top-br:nth-of-type(22) .stream-title {
        margin-top: 101px;
    }
    .streamer .stream.menu_active.top-br .stream-title {
        width: auto;
        margin-top: 0;
        transform: rotate(0);
        /* transition: all 0.8s ease; */
        animation-name: hideIn;
        animation-duration: 1.5s;
    }
}

@keyframes hideIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


